

/* MAIN SECTION START */
.about-section article,
.gallery-section article,
.links-section article {
    max-width: 600px;
    margin: 3rem auto;
}

.main-avatar-image-one {
    display: none;
}

.main-avatar-image-two {
    display: block;
}

/* MAIN SECTION END */

/* FOOTER SECTION STARTS */
nav ul {
    width: 600px;
    margin: 0px auto;
}

footer nav ul li label p {
    cursor: pointer;
    transition: transform 100ms ease;
}

footer nav ul li label p:hover {
    cursor: pointer;
    transform:scale(1.13);
}